@import "variables";

body {
  padding: 0;
  margin: 0;
  border: 0;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: $grey;
  color: $white;
}

header {
  position: sticky;
  top: 0;
  padding: 0 2rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $grey;
  border-bottom: 1px solid $light_grey;
  z-index: $zindex-sticky;
}

.header-content {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-title {
  display: flex;
  align-items: center;
  color: $white;
  font-size: 2rem;
  font-weight: bold;
  text-decoration: none;
}

.source {
  font-size: 1.2rem;
  color: $white;
  text-decoration: none;
}

.logo, .source > img {
  margin-right: 8px;
}

#content {
  @media (min-width: 1030px) {
        display: grid;
        grid-template-columns: 310px auto;
    }
}

nav {
  height: calc(100dvh - 4rem - 1px);
  align-self: start;
  position: sticky;
  top: calc(4rem + 1px);
  border-right: 1px solid $light_grey;
  z-index: $zindex-sticky;

  &.open {
    height: calc(100dvh - 4rem - 1px);
    background-color: $grey;
    border-right: 1px solid $light_grey;

  }

  &.closed {
    height: 0;
    border-right: none;
  }
}

.nav-mobile {
  display: flex;

  @media (min-width: 1030px) {
    display: none;
  }
}

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: 1px solid $light_grey;
  border-radius: 4px;
  margin-left: 1.7rem;
}

.nav-list {
  margin: 0;
  padding: 1.2rem 0 0 0;
  border: 0;
  list-style-type: none;
}

.nav-list > li {
  padding-left: 2rem;

  &:hover {
    background-color: $novah_logo_darker;
  }
}

.nav-list > li > a {
  text-decoration: none;
  color: $white;
  display: block;
  padding: 0.5rem 0;
}

.nav-selected {
  background-color: $novah_logo_dark;
}

main {
  max-width: 720px;
  margin: 0 auto;
  padding-inline: 1rem;
}

main a {
  color: $white;
  text-decoration: none;
  padding-bottom: 2px;
  border-bottom: 1px solid $light_grey;
}

main > ul {
  line-height: 1.8;
  list-style-type: square;
}

.hero {
  font-size: 2.5rem;
  margin: 4rem 0 3rem 0;
  font-style: italic;
}

.code {
  max-width: 40rem;
  border: 1px solid $light_grey;
  background-color: $novah_logo_darker;
  color: #e2e6e9;
  margin-bottom: 3rem;
  padding: 1rem;
}

.microlight {
  font-family: monospace;
}

.inline-code {
  background-color: $novah_logo_darker;
  font-size: 1.1rem;
  padding: 0 0.3rem;
}

table {
  min-width: 50%;
  border-spacing: 0;
  margin-bottom: 3rem;
}

th {
  text-align: left;
  padding-right: 2rem;
  vertical-align: top;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

td {
  border-top: 1px solid $light_grey;
  padding-right: 2rem;
  vertical-align: top;
  padding-top: 0.688rem;
  padding-bottom: 0.75rem;
}

:focus {
  outline: 2px solid #d71ef7;
}

h1:focus {
  outline: none;
}

.hidden {
  display: none;
}

.visually-hidden {
  position: absolute;
  border: 0;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  width: 1px;
  white-space: nowrap;
}