@import "variables";

body {
  padding: 0;
  margin: 0;
  border: 0;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: $grey;
  color: $white;
}

.novah-header {
  padding: 0 32px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid $light_grey;
}

.title-header > a {
  display: flex;
  align-items: center;
  color: $white;
  font-size: 2rem;
  font-weight: bold;
  text-decoration: none;
}

.logo {
  margin-right: 8px;
}

.source {
  font-size: 1.2rem;
  color: $white;
  text-decoration: none;
}

.source > img {
  margin-right: 8px;
}

#content {
  display: flex;
  flex-wrap: wrap;
}

#content > :last-child {
  flex-basis: 0;
  flex-grow: 999;
  min-width: 60%;
}

.main-menu {
  flex-basis: 310px;
  flex-grow: 1;
  height: auto;
  border-right: 1px solid $light_grey;
}

.menu-list {
  margin: 0;
  padding: 1.2rem 0 0 0;
  border: 0;
  list-style-type: none;
}

.menu-list > li {
  padding-left: 2rem;

  &:hover {
    background-color: $novah_logo_dark;
  }
}

.menu-list > li > a {
  text-decoration: none;
  color: $white;
  display: block;
  padding: 8px 0 8px 0;
}

#content {
  display: flex;
  width: 100%;
}

.main {
  margin: 0 4rem;

  @media (min-width: 768px) {
    margin: 0 7rem;
  }
}

.main > ul {
  line-height: 1.6;
  list-style-type: square;
}

.hero {
  font-size: 2.5rem;
  margin: 4rem 0 3rem 0;
  font-style: italic;
}

.code {
  max-width: 32rem;
  border: 1px solid $light_grey;
  background-color: $novah_logo_darker;
  color: #e2e6e9;
  margin-bottom: 3rem;
  padding: 1rem;
}

.microlight {
  font-family: monospace;
}