h1.hero Novah is a strongly-typed functional programming language for the JVM

pre.code
  code.microlight.
    module greetings
    
    greet : String -> String
    greet name = "Hello " ++ name
    
    pub
    main : Array String -> Unit
    main args =
      if len args == 0 then
        println (greet "World")
      else
        println (greet args.[0])

h2 Features

ul
  li Row polymorphism and extensible records
  li Type inference so you rarely need explicit types
  li Java interoperability
  li Persistent data structures with literal syntax
  li Generic programming with instance arguments
  li Pattern matching with function parameter and let destructuring support
  li Computation expressions
  li Language server protocol built-in
  li Project and dependency management built-in
  li IDE support