h1.hero(tabIndex="-1") Novah is a strongly-typed functional programming language for the JVM

p.visually-hidden Begin code:
pre.code
  code.microlight.
    module greetings

    greet : String -> String
    greet name = "Hello " ++ name

    pub
    main : Array String -> Unit
    main args =
      if len args == 0 then
        println (greet "World")
      else
        println (greet (aget 0 args))
p.visually-hidden End code.

h2 Features

ul
  li
    a(href="/records") Row polymorphism and extensible records
  li
    a(href="/types") Type inference so you rarely need explicit types
  li
    a(href="/interop") Java interoperability
  li
    a(href="/syntax#collections") Persistent data structures with literal syntax
  li
    a(href="/instance") Generic programming with instance arguments
  li
   a(href="/pattern-matching") Pattern matching with function parameter and let destructuring support
  li
    a(href="/computations") Computation expressions
  li
    a(href="https://marketplace.visualstudio.com/items?itemName=rarestorm.novah-ide" target="_blank") IDE support
  li
    a(href="/cli") Project and dependency management built-in
  li Language server protocol and REPL built-in