
h1#types Types

p Types in Novah correspond to a Java class or primitive type.

table(aria-labelledby="types")
  thead
    tr
      th(scope="col") Novah type
      th(scope="col") Java type
  tbody
    tr
      td Byte
      td byte
    tr
      td Int16
      td short
    tr
      td Int, Int32
      td int
    tr
      td Int64
      td long
    tr
      td Float32
      td float
    tr
      td Float64
      td double
    tr
      td Boolean
      td boolean
    tr
      td Char
      td char
    tr
      td String
      td String